<header>
  <nav class="navbar navbar-dark bg-dark">
    <%= link_to "Campus", root_path, class: "navbar-brand text-white" %>

      <%= form_tag programs_path, method: :get, class: "form-inline" do %>
          <%= text_field_tag(
              :search,
              params[:search],
              placeholder: "Search",
              class: "form-control-sm mr-s m-2"
          ) %>
            <%= button_tag "Search", type: "submit", :name => nil,  class: "btn btn-outline-secondary btn-sm my-2 my-sm-0"%>
      <% end %>
  </nav>
</header>
